.DS_Store
massey
Massey-pari.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
massey.dSYM/Contents/Info.plist
massey.dSYM/Contents/Resources/Relocations/aarch64/massey.yml
make.sh
